<% content_for :title, "Hydro-orient official website" %>
<% content_for :meta_description, "Hydro-orent pending..." %>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
<style>
	body
	{
		background: #334467;
		color: #E5EEFF;
	}
</style>
</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<%= image_tag("goutte.jpg", size: '100x100') %> <h1 style="color: white">HYDRO<span style="font-weight: : 200 !important">-ORIENT</h1>
			<div id="menu">
				<ul>
					<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
					<li><a href="<%= user_session_path %>" accesskey="2" title="">Log in</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Welcome to our website</h2>
		</div>
		<p>Hydro-orient est leader en Amérique du Nord pour la gestion et le contrôle de l’eau.<br>

L’optimisation de la gestion de l’eau est indispensable d’un point de vue environnementale mais aussi en tant que citoyen.

Il est dans l’intérêt de tous d’améliorer la maitrise de l’eau.<br>

Hydro-orient est spécialisée dans la gestion de l’eau, nos experts vous donneront des informations et des conseils spécifiques pour prévenir du gaspillage, de la surconsommation mais aussi des risques liés aux dégâts d’eau.<br>

Nos équipements sont uniques pour stopper les fuites d’eau, ce n’est point nécessaire d’installer des sondes à travers les locaux, un seul appareil SWF prévient des fuites et stoppe automatiquement l’arrivée d’eau.<br>

Nous distribuons les outils nécessaires pour gérer adéquatement cette ressource vitale.<br>

Nos logiciels d’optimisation vous permettront d’administrer en temps réel les consommations de vos clients mais aussi de palier aux déficiences dues aux fuites des réseaux d’eau.<br>

Ces outils permettent aussi de gérer le personnel d’entretien et d’optimiser les temps d’interventions sur des sites éloignés.</p>
	</div>
</div>
<div class="wrapper">
	<div id="portfolio" class="container">
		<div class="column1">
			<div class="box">
				<%= image_tag("scr01.jpg", size: '120x120', class: "image image-full") %> 
				<h3>LE SWF</h3>
				<p>Le premier système de gestion de l’eau autonome assurant la coupure d’eau automatique en cas de fuite ou d’anomalie sur le réseau.</p>
				<a href="#" class="button button-small">Learn more</a> </div>
		</div>
		<div class="column2">
			<div class="box"> 
				<%= image_tag("scr02.jpg", size: '120x120', class: "image image-full") %> 
				<h3>La gestion de l'eau dans les collectivités</h3>
				<p>DIAGNOSTIQUE BESOINS : Mieux gérer la ressource<br>
=> Limiter la consommation d'eau.<br>

=> Gérer à distance l'alimentation en eau.<br>

=> Démarche environnementale.</p>
				<a href="#" class="button button-small">Learn more</a> </div>
		</div>
		<div class="column3">
			<div class="box"> 
				<%= image_tag("scr03.jpg", size: '120x120', class: "image image-full") %> 
				<h3>Application</h3>
				<p>Application pour les particuliers, les immeubles à bureaux, les collectivités, les hôpitaux, les industries.</p>
				<a href="#" class="button button-small">Learn more</a> </div>
		</div>
		<div class="column4">
			<div class="box"> 
				<%= image_tag("scr04.jpg", size: '120x120', class: "image image-full") %> 
				<h3>Détéction</h3>
				<p>Détection des fuites et des ruptures de canalisation.</p>
				<a href="#" class="button button-small">Learn more</a> </div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. 2019 Hydro-orient. All Rights Reserved.</p>
</div>
</body>