<% content_for :title, "Hydro-orient Official Website" %>
<% content_for :meta_description, "We are specialized in  Advanced Metering Analytics, built around our robust software  Advanced Metering Analytics will put your meter reading data to work to address your demands for proactive intelligence— giving you greater visibility and control over utility management." %>

<div id="page-wrapper">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Welcome to Hydro-orient.</h2>
		</div>
		<div class="welcm-discription" style="padding-bottom: 20px;">
			<p>Hydro-Orient is specialized in  Advanced Metering Analytics, built around our robust software  Advanced Metering Analytics will put your meter reading data to work to address your demands for proactive intelligence— giving you greater visibility and control over utility management.</p>
	   </div>
			<h3>Software Meter Reading Solutions</h3>
		<p>We have a history of success across a broad range of projects; implemented complex multi system integrations in enterprise implementations developed mobile software extensions to meet specific needs blended hardware and software together to create unique solutions managed change and training to ensure project success developed a new radio antenna which doubled the gain of its predecessor making our customer more competitive and profitable integrated proprietary radio and antenna technology into mobile computing hardware to create unique solutions.</p>
		<p>We relish the challenge of solving problems for our customers – our customers know that we make them more successful through results.</p>




		<h3>Business Process Re-engineering</h3>
		<p>At the heart of any successful business is the smooth and efficient operation of a streamline business process. Removal of redundant and unnecessary processes will both improve the efficiency; increase productivity as well as reducing costs. The Water Professional services have skilled and experienced staff who have assisted in the creation; review and redefinition of business processes form key operational and engineering based organizations to achieve any strategic; business and divisional level objectives. Contact us to see how we can assist in improving your business processes.</p>

		
		

		<h3>Solution Engineering</h3>
		<p>Hydro-Orient Services knowledge and experience extends well beyond the core products to other key enterprise systems, and how they can fit together to match the business value aims of any organization. As such we can assist by providing consultancy on providing a systems solution that is most appropriate to your utility, taking into account:</p>
        

        <ul>
		<li>The business aims, and where you are trying to add value in the business process.</li>

		<li>The extent of legacy system integration versus new implementation solutions.</li>

		<li>Supportability of the overall solution.</li>
	</ul>
		
		

		<h3>Support 24/7</h3>
		With Hydro-Orient support solution you get fast, effective and personal support for your meter reading system. Our many years of experience and expertise is available to you, when you need it.

		Additionally, we take care of software updates and, once a year, we give you input on how you can optimise your IT system. 
		<a href="<%= pages_contact_us_path %>" accesskey="2" title="" style="color:blue;text-decoration: underline;">Contact us</a>
		



	</div>
</div>
<div class="wrapper">
	<div class="container">
		<ul id="portfolio">
			<li class="portfolio-item">
				<div class="box">
					<%= image_tag("Software.jpg", size: '120x120', class: "image image-full") %> 
						<h3>Software Meter Reading Solutions</h3>
				</div>
			</li>
			<li class="portfolio-item">
				<div class="box"> 
					<%= image_tag("BPR.jpg", size: '120x120', class: "image image-full") %> 
					
					<h3>Business Process Re-engineering<h3r>
						
					</div>
				</li>
				<li class="portfolio-item">
					<div class="box"> 
						<%= image_tag("solution.jpg", size: '120x120', class: "image image-full") %> 
						<h3>Solution Engineering</h3>
					
					</div>
				</li>
				<li class="portfolio-item">
					<div class="box"> 
						<%= image_tag("support.jpg", size: '120x120', class: "image image-full") %> 
						<h3>Support 24/7</h3>
						
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="copyright" class="container">
		<p>&copy; Untitled. 2019 Hydro-orient. All Rights Reserved.</p>
	</div>


	<style>

	h3 {
		padding-bottom: 10px;
	}
</style>



	